/applicationlogs
/Images
/Others
*.log

CureatrPythonWorkSpace/.metadata/.lock

*.zip

*.c

*.cpp

CureatrPythonWorkSpace/.metadata/.plugins/org.eclipse.core.resources/.history/1/10ebb1d883eb00151984d80aa7594542

CureatrPythonWorkSpace/.metadata/.plugins/org.eclipse.core.resources/.history/1/f0ef48e923ec00151984d80aa7594542

CureatrPythonWorkSpace/.metadata/.plugins/org.eclipse.core.resources/.history/10/4006900182eb00151984d80aa7594542
